body {
	background-color: #000 !important;
}
.wrapper {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
header {
	height: 10vh;
	background-color: #82092d;
	color: #fff;
	display: flex;
}
header h1 {
	margin: auto;
	font-size: 4rem;
}
footer {
	min-height: 8vh;
	background-color: #000;
	border-top: 15px solid #82092d;
	color: #fff;
	display: flex;
}
footer p {
	margin: auto;
}
main {
	min-height: 82vh;
	max-width: 1200px;
	margin: auto;
	padding: 3rem;
}
.gallery {
	min-height: 50vh;
	/* background-color: rgb(221, 221, 221, 0.4); */
	border-radius: 5px;
	/* padding: 1rem; */
}
.controls {
	margin-top: 2rem;
	padding: 1rem;
	background-color: rgb(221, 221, 221, 0.6);
	border-radius: 5px;
}
.btn {
	background-color: #82092d !important;
	font-size: 1.5rem;
}
figcaption {
	color: #fff !important;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 0.5rem;
	border-radius: 0 0 15px 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	background-color: #82092d;
}
figcaption:hover {
	background-color: #fff;
	color: #82092d !important;
	font-weight: 700;
}
.image {
	height: 300px;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 15px 0 0 0;
	border: 2px solid #fff;
	border-bottom: 0;
}
.search {
	margin-bottom: 2rem;
	padding: 0;
	box-sizing: border-box;
}
input[type="text"]:focus {
	border: 1px solid #82092d !important;
}
.cancel {
	color: #bf0c42;
	font-weight: 700;
}
