.wrapper {
	padding: 0;
	margin: 0;
}
header {
	height: 10vh;
	background-color: #82092d;
	color: #fff;
	display: flex;
}
header h1 {
	margin: auto;
	font-size: 4rem;
}
footer {
	min-height: 5vh;
	background-color: #000;
	border-top: 10px solid #82092d;
	color: #fff;
	display: flex;
}
footer p {
	margin: auto;
}
main {
	min-height: 85vh;
	max-width: 1200px;
}
