:root {
	--dark-wine: #82092d;
	--light-wine: #bf0c42;
	--black: #000000;
	--white: #ffffff;
}
::selection {
	color: var(--white);
	background: var(--light-wine);
}
body {
	background-color: var(--black) !important;
}
header {
	height: 10vh;
	background-color: var(--dark-wine);
	color: var(--white);
	display: flex;
}
header h1 {
	margin: auto;
	font-size: 4rem;
}
footer {
	min-height: 5vh;
	background-color: rgb(45, 34, 34);
	border-top: 15px solid var(--dark-wine);
	color: var(--white);
	display: flex;
}
footer p {
	margin: auto;
}
main {
	min-height: 85vh;
	max-width: 1200px;
	margin: auto;
	padding: 3rem;
}
.gallery {
	min-height: 50vh;
	border-radius: 5px;
}
.btn {
	background-color: var(--dark-wine) !important;
	font-size: 2rem;
	border: 0px !important;
}
.circle {
	font-size: 4rem !important;
	font-weight: 700;
	border-radius: 50%;
	height: 100px;
	width: 100px;
	box-sizing: border-box;
	border: 0px !important;
}
.btn:hover {
	background-color: var(--white) !important;
	color: var(--dark-wine) !important;
}
figcaption {
	color: var(--white) !important;
	padding: 0.5rem;
	border-radius: 0 0 15px 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	background-color: var(--dark-wine);
	font-weight: 700;
}
.image {
	height: 300px;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 15px 0 0 0;
}
.image:hover ~ figcaption,
figcaption:hover {
	background-color: var(--white);
	color: var(--dark-wine) !important;
}
.search {
	margin-bottom: 2rem;
	padding: 0;
	box-sizing: border-box;
}
.form-control {
	font-size: 2rem !important;
}
.form-control:focus {
	border: 1px solid var(--dark-wine) !important;
}
.cancel {
	color: var(--light-wine);
	font-weight: 700;
}
.spinner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #00000090;
	color: #ffffff;
	font-size: 5rem;
	height: 100%;
	z-index: 50000;
}
